@model Transparent.Business.ViewModels.ArgumentViewModel
<tr class="display-field underlined">
    <td>
    <h4>@Model.Caption</h4>
    <fieldset class="long">
        <legend>@Model.Caption</legend>
        <div class="editor-field gap-above">
            @Html.DisplayFor(model => model.Body, "TextToHtml")
        </div>
    </fieldset>
    </td>
    <td class="metadata narrow">
    @Html.DisplayFor(model => model.User)
    </td>
</tr>
