@model Transparent.Business.ViewModels.ArgumentViewModel

<h3>@Model.Caption</h3>
<div id="discussEditPartial" class="display-field">
    <fieldset class="long">
        <legend>@Model.Caption</legend>
        <div class="editor-field gap-above">
            @Html.DisplayFor(model => model.Body)
        </div>
    </fieldset>
</div>
