<header>
    <ul id="menu" class="left">
        @{var links = new []
            {
                new []{ "My Queue", "MyQueue" },
                new []{ "Highest Ranked", "HighestRanked" },
                new []{ "Newest", "Newest" },
                new []{ "Raised by Me", "RaisedByMe" },
                new []{ "Search", "Search" },
                new []{ "Create", "Create" }
            };
        }
        @foreach(var link in links)
        {
            <li>@(ViewBag.Title == link[0] ? MvcHtmlString.Create(link[0]) : Html.ActionLink(link[0], link[1], "Ticket"))</li>
        }
    </ul>
</header>