<header>
    <ul id="menu" class="left main">
        @{var links = new []
            {
                new []{ "My Queue", "MyQueue" },
                new []{ "Highest Ranked", "HighestRanked" },
                new []{ "Newest", "Newest" },
                new []{ "Raised by Me", "RaisedByMe" },
                new []{ "Search", "Search" },
                new []{ "Create", "Create" },
                new []{ "Mark Tests", "MarkTests" }
            };
        }
        @foreach(var link in links)
        {
            <li>
            @if (ViewBag.Title == link[0])
            {
                <b>@MvcHtmlString.Create(link[0])</b>
            }
            else
            {
                @Html.ActionLink(link[0], link[1], "Ticket");
            }
            </li>
        }
    </ul>
</header>