@model Transparent.Data.ViewModels.TicketTagsViewModel 
<div id="ticketTagsPartial" class="display-field">
@foreach (var ticketTag in Model.TagInfo)
{
    if (Model.EnableTagButton)
    {
        <a class="button float-left" href="@Url.Action("Details", "Tag", new { id = ticketTag.TagId })">@ticketTag.Name</a>
    }
    else
    {
        <a class="button float-left">@ticketTag.Name</a>
    }    
    if (ticketTag.UserMayVerify)
    {
        <div class="float-left">
            <button type="submit" class="ui-icon-close ui-icon" title="Delete tag">DeleteTag</button>
            <button type="submit" class="ui-icon-check ui-icon" title="Verify tag">VerifyTag</button>                    
        </div>
    }   
}
</div>