@model Transparent.Data.Models.TicketAndUserRank

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_MenuPartial")

<fieldset>
    <legend>Ticket</legend>

    <div class="display-field">
        <h3>@Html.DisplayFor(model => model.Heading)</h3>
    </div>
    <div>
        <div class="float-left" style="text-align:center">         
            @Html.Action("_Rank", Model)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Body)
        </div>
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
</p>
