@model Transparent.Data.Models.Subscription
@{
    ViewBag.Title = "Democratic Intelligence";
}

<h1>Future home of something quite cool, which is ALMOST READY!!</h1>
<p class="lead">
    See <a href="http://stephenrandom.blogspot.co.uk/2014/11/my-peace-grand-challenge-competition.html">the idea for this site, which won the Peace Grand Challenge</a><br />
    OR<br />
    Read about it on the <a href="http://transpolitica.org/2015/04/02/democratic-intelligence/">Transpolitica website</a>.
</p>


<p>In the meanwhile, join one or more of the Democratic Intelligence groups:</p>

<a href="https://www.facebook.com/democraticintelligence">Facebook</a>
<a href="https://plus.google.com/u/0/communities/118433697403372101600">Google+</a>
<a href="https://www.linkedin.com/groups/Xparent-8209220">LinkedIn</a>

<p>Subscribe for email updates</p>

@using (Html.BeginForm("Subscribe", "Home"))
{
    @Html.ValidationSummary(true)

    <fieldset class="long">
        <legend>Subscribe for email updates</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <p>
            <input type="submit" value="Subscribe" />
        </p>
    </fieldset>
}

<p>While I expect the first prototype to go live around April, 2015, I cannot guarantee it.<br />
    Feel free to take a look at other proposals for internet decision based systems while you wait:</p>

<ul>
    <li>
Article by David Stodolsky (Institute for Social Informatics)<br />
<a href="http://dss.secureid.org/stories/storyReader$14">Computer-network based democracy:
Scientific communication as a basis for governance</a>
    </li>
    <li>
        <a href="https://www.loomio.org/">Loomio</a>, group decision making software.<br />
        <a href="https://www.youtube.com/watch?v=4vCL4I19o9U">See the TED X video</a>
    </li>
</ul>