@{
    ViewBag.Title = "Democratic Intelligence";
}

<h1>Future home of something quite cool.</h1>
<p class="lead">See <a href="http://stephenrandom.blogspot.co.uk/2014/11/my-peace-grand-challenge-competition.html">http://stephenrandom.blogspot.co.uk/2014/11/my-peace-grand-challenge-competition.html</a></p>

<p>In the meanwhile, join one or more of the Democratic Intelligence groups:</p>

<a href="https://www.facebook.com/democraticintelligence">Facebook</a>
<a href="https://plus.google.com/u/0/communities/118433697403372101600">Google+</a>
<a href="https://www.linkedin.com/groups/Xparent-8209220">LinkedIn</a>