<header class="menu">
    @{var links = new []
        {
            new []{ "User Profile", "UserProfile" },
            new []{ "Manage Account", "Manage" }
        };
    }
    @foreach(var link in links)
    {
        if (ViewBag.Title == link[0])
        {
            <span>@MvcHtmlString.Create(link[0])</span>
        }
        else
        {
            @Html.ActionLink(link[0], link[1], link.Length > 2 ? link[2] : "Account");
        }
    }
</header>