@model Transparent.Business.ViewModels.UserTagViewModel
@using Castle.Windsor
@using Transparent.Data.Interfaces
@using Transparent.Business.Interfaces
@using Transparent.Data.Models

@{
    ViewBag.Title = "Learn";
    var container = ((IContainerAccessor)Context.ApplicationInstance).Container;
    var tags = container.Resolve<ITags>();
}

<canvas id="tagDiagram" width="660" height="300" style="border:1px solid #FFFFFF;">
</canvas>
<script src="/Scripts/tags.boxes-0002.js"></script>
<script>
    $(function () {
        var model = @tags.SerializeTag(Model.Id);
        var actionUrl = "@Url.Action("Details", new { id = "" })";
        drawTags(model, actionUrl);
    });
</script>
<fieldset>
    <legend>Tag</legend>
    @Html.Partial("_TakeTestPartial", Model)
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
