@model Transparent.Data.Models.UserTag
<tr>
    <td class="display-label">
        @Html.ActionLink(Model.Tag.Name, "Details", "Tag", new { id = Model.Tag.Id }, new { })
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.TotalPoints)
    </td>
</tr>
