@model Transparent.Business.ViewModels.UserSummaryViewModel
@using Transparent.Business.ViewModels
@using Transparent.Data.Models
@Html.DisplayFor(model => model.Username)<br />
<table>
@Html.DisplayFor(model => model.Tags)
</table>