@model Transparent.Data.Models.UserTag
<tr>
    <td class="display-label">
        @Html.DisplayFor(model => model.Tag.Name)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.TotalPoints)
    </td>
</tr>
