@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<script>
    function generateEmailLink() {
        return "<a href=\"mail" + "to" + ":los" + "tho" + "bbit" + "@@" + "gma" + "il." + "com\">los" + "tho" + "bbit" + "@@" + "gma" + "il." + "com</a>"
    }
</script>

<article>
    <p>
        As this website is designed to make group decisions, it doesn't make much sense to
        have contact information here.  You can @Html.ActionLink("post a question or suggestion", "Create", "Ticket")
        and you will be more likely to get a good answer than simply by emailing someone.
    </p>
    <p>
        However, until this website becomes massively popular, it may make sense to contact 
        Stephen directly.  If so, you can email him at <script>document.write(generateEmailLink())</script>.
    </p>
    <p>
        You can also show your support and discuss this further in these social network groups:
    </p>
    <a href="https://www.facebook.com/democraticintelligence">Facebook</a><br />
    <a href="https://plus.google.com/u/0/communities/118433697403372101600">Google+</a><br />
    <a href="https://www.linkedin.com/groups/Xparent-8209220">LinkedIn</a><br />
</article>
