/* Custom */
html {
    margin: 0;
    padding: 0;
}

thin {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #222222; 
    margin: 0;
    padding: 0;
}

.fw {
    width:100%;
}

.lighter {
    background-color:rgba(50,50,60,0.4);
    border-radius: 3px;
    padding-left:10px;
}

.underlined {
    border-bottom: 1px solid #DDD;
}

.gap-above {
    margin-top: 15px;
}

.no-gap-below {
   margin-bottom: 2px;
}

.sideMenu ul {
    margin-top: 0px;
}

a { 
    text-decoration:none !important;
    color: #131c4f;
    outline: none;
    padding-right: 3px;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #131c4f;
    }

    a:hover {
    background-image: url(../Images/blue/selectVert.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

p a, li a {
    font-weight: 500;
}

.actionLinkUI { float: left; margin-right: 2px; }

.radioButtonForEnum, .radioButtonForEnum > label {
    display: inline;
}

    .radioButtonForEnum > input {
        width: 40px;
    }

.metadata {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #222222; 
    font-size: .8em;
}

    .metadata.narrow {
        width:220px;
    }

    .metadata .thresholdBar {
        height:19px;
        width:10px;
        background-color:lightgrey;
        margin-top:5px;
    }

.Expert {
    color: #F6B311;
}

.Competent {
    color: #B0B0B0;
}

.outset {
    border-style: outset;
}

.inset {
    border-style: inset;
    color: green;
}

    .inset.for {
        color: green;
    }

    .inset.ui-icon-check {
        background-color: lightgreen;
    }

    .inset.against {
        color: red;
    }

    .inset.ui-icon-close {
        background-color: #FF6262;
    }

button {
    color: black;
    border-radius: 3px;
}

.question {
    
}

.suggestion {
    
}

.test {
    
}

p {
    text-align: justify;
}

.button {
    color: #333;
    background-color: rgba(0, 128, 128, 0.25);
    border-radius: 3px;
    margin: 5px 5px 5px 0px;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
}

div {
    margin-bottom: 5px;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
    margin-right: 5px;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
    margin-top: 0px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 12px;
    margin-top: 12px;
}

h4 {
    font-size: 1.1em;
    margin-top: 0px;
}

h5, h6 {
    font-size: 1em;
}

#rankPartial {
    margin: 5px 10px 0px 10px;
}

    #rankPartial h1 {
        margin-bottom: 8px;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    clear: both;
    padding-bottom: 35px;
}

.top {
    padding-top: 5px; 
    background-color: #7ac0da;
    background-image: url(../Images/blue/left.png), url(../Images/blue/right.png);
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

    .top.medium {
        height: 80px;
    }

    .top.small {
        height: 60px;
    }

    .top.xsmall {
        height: 95px;
    }

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #555;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #444;
    outline: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 5px 0 10px;
}

    #login a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
header.subMenu {
    margin-top: 10px;
}

.menu>a, .menu>span, .menu>select, .subMenu>a, .subMenu>span {
    border-radius: 3px;
    background-color: rgba(170, 170, 170, 0.25);
    color: #444;    
}

.menu>a, .menu>span {
    padding: 5px;
}

.subMenu>a, .subMenu>span {
    padding: 0px 4px 2px 4px;
}

.menu>a, .subMenu>a {
    margin: 5px 4px 5px 4px;
}

.menu>span, .subMenu>span {
    margin: 0px;
}

.menu>span, .subMenu>span {
    color: #f00;
}

.menu>select {
    background-color: rgba(170, 170, 170, 0.25);
    margin-right: 1px;
    border: none;
    padding: 4px;
    display: inline;
    width: 150px;
    color: #333;    
}

.menu .selected { 
    color: #f00;
}

.menu option:not(:checked) { 
    color: #333;    
}

.menu option{
    font-size: 0.8em;
}

/* page elements
----------------------------------------------------------*/

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
}

    aside ul li {
        background: url("../Images/bullet.png") no-repeat 0 50%;
        padding: 2px 0 2px 20px;
    }

/* login page */
#loginForm {
    border-right: solid 2px #383838;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1em;
    font-weight: 400;
}

label.checkbox {
    display: inline;
}

input, textarea, select {
    border: 1px solid #C2C2C2;
    background-color: #F2F2F2;
    border-radius: 3px;
    color: #333;
    margin: 3px 0 3px 0;
    padding: 2px;
    width: 300px;
}

textarea {
    height: 200px;
}

.wide20 {
    width: 20px;
}

.wide40 {
    width: 40px;
}

.wide70 {
    width: 70px;
}

.wide120 {
    width: 120px;
}

.wide400 {
    width: 400px;
}

.wide550 {
    width: 550px;
}

.fifth {
    width: 70px;
    margin-right: 0px;
}

input.long,.long input, .long textarea {
    width: 500px;
}

.fourFifths input {
    width: 430px;
}

input.extraLong,.extraLong input, .extraLong textarea {
    width: 835px;
}

    select.tags {
        width: auto;
        margin-right: 10px;
    }

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-weight: 600;
        padding: 5px;
        margin-right: 4px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 8px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding: 0.25em 2em 0.25em 0em;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    vertical-align:top;
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

