<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- General -->
    <add key="CurrentSubGoal" value="Increase the number of registered users to 10,000" />

    <!-- Points -->

    <!-- Taking tests -->
    <add key="PointsRequiredBeforeDeductingPoints" value="20" />
    <add key="PointsToDeductWhenStartingTest" value="20" />
    <add key="PointsForPassingATest" value="20" />
    <add key="MarkersRequiredPerTest" value="2" />
    <add key="PointsMarkersGainForAgreeingATestResult" value="10" />
    <add key="PointsMarkersLoseForDisagreeingATestResult" value="10" />

    <add key="PointsRequiredToBeCompetent" value="20" />
    <add key="PointsRequiredToBeAnExpert" value="40" />

    <!-- Progressing tickets to next state -->
    <add key="MaxPositionToAdvanceState" value="2" />
    <add key="MinimumNumberOfArgumentsToAdvanceState" value="1" />
    <add key="PercentOfVotesRequiredToAccept" value="60" />

    <!-- Normal delays -->
    <add key="DelayAfterValidatingTags" value="1.00:00" />
    <add key="DelayAfterDiscussion" value="2.00:00" />
    <add key="DelayForVoting" value="4.00:00" />

    <!-- Technical configuration -->
    <add key="MinEventInterval" value="00:01:00" />
    <!-- Recommended setting: true for high traffic, false for low traffic -->
    <add key="RunEventsAsync" value="true" />

    <!-- Normal intervals -->
    <add key="CompleteTagValidationEventInterval" value="00:30:00" />
    <add key="CompleteDiscussionEventInterval" value="00:31:00" />
    <add key="CompleteVotingEventInterval" value="00:32:00"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>