@model Transparent.Data.Models.UsersContainer
@using Transparent.Business.Maps
@using Transparent.Business.ViewModels
@{
    ViewBag.Title = "Volunteers";
    if (Model != null)
    {      
        <section class="row">
            <div class="col-sm-10">
            <table>
            @foreach (var user in Model.PagedList)
            {
                @Html.Partial("_VolunteerDetailsPartial", user.Map<VolunteerViewModel>())
            }
            </table>
            @Html.Partial("_PagesPartial", Model)
            </div>
            <div class="col-sm-2">
                &nbsp;
            </div>
        </section>
    }
}

